@import '~@/styles/variables';

.container {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: $light-gray5;
  border-radius: 5px 0 0 0;
  transform: translateX(600px);
  animation: appearance 0.3s linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;

  :global(b) {
    margin: 0 5px;
  }
}

@keyframes appearance {
  0% {
    transform: translateX(600px);
  }

  100% {
    transform: translateX(0);
  }
}

.icon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  color: $blue3;
}
